/*product*/

.product__card {
    max-width: 300px;
}
.product__wrapper-image {
    position: relative;
    min-width: 150px;
    height: content-box;
}
.product__image {
    width: 100%;
    max-width: 300px;
    height: auto;
}
.product__price {
    margin: 0 0 10px;
    text-align: end;
    font-size: 30px;
}
.product__name {
    display: block;
    margin-bottom: 10px;
    color: #000;
    font-weight: 700;
    text-decoration: none;
}
.product__name:hover {
    color: #ff1493;
    cursor: pointer;
}
.product__add {
    width: 100%;
}
.product-counter {
    display: flex;
    margin-bottom: 10px;
}
.product-counter__count {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-top: 2px solid #ff37a2;
    border-bottom: 2px solid #ff37a2;
}
.product-counter__button {
    width: 20%;
}

/*button*/

.button {
    border: none;
    line-height: 3;
    color: #fff;
    background-color: #ff1493;
    cursor: pointer;
}
.button:hover {
    background-color: #ff2d9d;
}
.button:active {
    background-color: #ff37a2;
}

/*favorite*/

.heart {
    position: absolute;
    right: 5px;
    color: #fff;
    font-size: 50px;
    cursor: pointer;
}
.favorite {
    color: #f33;
}

/*purchased-product*/

.purchased-product__card {
    display: flex;
    margin-bottom: 10px;
}
.purchased-product__image {
    max-width: 200px;
    object-fit: contain;
}
.purchased-product__info {
    padding: 10px;
}

/*container*/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*products*/

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

/*shopping-card*/

.shopping-card__transaction {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}